<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-car fa-6x"></i>
    <h1 class="display-3">Welcome to TCE pool</h1>
    
    <hr>
    <a class="btn btn-light btn-lg" href="/registerpage" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/loginpage" role="button">Login</a>
    <a class="btn btn-dark btn-lg" href="/adminloginpage" role="button">admin</a>

  </div>
</div>

<%- include('partials/footer') %>
